/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
}

.heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: white;
}

.button {
  font-family: 'Roboto';
  text-align: center;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.mode {
  background-color: black;
  color: white;
}

.dark {
  background-color: white;
  color: black;
}
